body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #457b9d;
    color: #ade8f4;
}

#activity-name {
    color: white;
    font-weight: 300;
    background-color: #1d3557;
    padding: 1em 2em;
    border-radius: 10px;
}

.btn {
    background-color: #ade8f4;
    border: none;
    border-radius: 10px;
    padding: 1em 2em;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 1.25px;
    color: #1d3557;
}

.btn:hover,
.btn:focus {
    background-color: #1d3557;
    color: whitesmoke;
}